{% load static %}
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
    
      <h1 class="logo mr-auto"><a href="{% url 'home' %}">Believer</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'test' %}">Home</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      {% if user.is_active %}
       <a href="{% url 'accounts:logout' %}" class="get-started-btn">Logout</a>
      {% else %}
         <a href="{% url 'accounts:signup' %}" class="get-started-btn">Get Started</a>
      {% endif %}
    </div>
  </header>