<header class="main-header">
        <!-- Logo -->
        <a href="{%url 'test' %}" class="logo"><b>Believer</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
             
              <!-- Notifications: style can be found in dropdown.less -->
             
              <!-- Tasks: style can be found in dropdown.less -->
             
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ user.userprofile.avatar.url }}" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">{{ user.username }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{{ user.userprofile.avatar.url }}" class="img-circle" alt="User Image" />
                    <h4>
                      <b>{{ user.username }}
                      <small>Member since {{ user.userprofile.create_date|date:"M,Y"}}</small>
                    </h4>
                  </li>
                  <!-- Menu Body -->
          
                  <!-- Menu Footer-->
                  <li class="user-footer">
                  
                    <div class="pull-right">
                      <a href="{% url 'thanks' %}" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>