{% extends 'pages/videos.html' %}
{% block content %}
<div class='container' style='padding-right: 15px;
    padding-left: 155px;
    margin-right: auto;
    margin-left: auto;'>
<div class="background" style='font-weight: normal;'>
<div class="login-form" >
    <form method="POST">
    {% csrf_token %}
        <h2 class="text-center">Note</h2>  
        {{ form.as_p }}     
        <div class="form-group">
            <button type="submit" class="btn btn-warning btn-block">Save</button>
        </div>      
    </form>
</div>
</div></div>
 {% endblock content %}
